In [2]:
import pandas as pd
surveys_df = pd.read_csv("C:/Users/Dell/Documents/portal-teachingdb-master/surveys.csv")

In [3]:
type(surveys_df)

pandas.core.frame.DataFrame

In [4]:
surveys_df['sex'].dtype

dtype('O')

In [5]:
surveys_df['record_id'].dtype

dtype('int64')

In [6]:
surveys_df.dtypes

record_id            int64
month                int64
day                  int64
year                 int64
plot_id              int64
species_id          object
sex                 object
hindfoot_length    float64
weight             float64
dtype: object

In [7]:
print(5+5)
print(24-4)
print(5/9)
print(10/3)

10
20
0.5555555555555556
3.3333333333333335

In [8]:
a = 7.83
int(a)

7

In [9]:
b = 7
float(b)

7.0

In [10]:
surveys_df['record_id'] = surveys_df['record_id'].astype('float64')
surveys_df['record_id'].dtype

dtype('float64')

In [11]:
surveys_df['weight'].mean()

42.672428212991356

In [13]:
len(surveys_df[pd.isnull(surveys_df.weight)])
len(surveys_df[surveys_df.weight> 0])

32283

In [16]:
df1 = surveys_df.copy()
df1['weight'] = df1['weight'].fillna(0)
df1['weight']

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
35544     0.0
35545     0.0
35546    14.0
35547    51.0
35548     0.0
Name: weight, Length: 35549, dtype: float64

In [17]:
df1['weight'].mean()

38.751976145601844

In [19]:
df1['weight'] = surveys_df['weight'].fillna(surveys_df['weight'].mean())
df1['weight']

0        42.672428
1        42.672428
2        42.672428
3        42.672428
4        42.672428
           ...
35544    42.672428
35545    42.672428
35546    14.000000
35547    51.000000
35548    42.672428
Name: weight, Length: 35549, dtype: float64

In [35]:
surveys_df = pd.read_csv('C:/Users/Dell/Documents/portal-teachingdb-master/surveys.csv',)

In [51]:
species_df = pd.read_csv("C:/Users/Dell/Documents/portal-teachingdb-master/species.csv",
                         keep_default_na=False, na_values=[""])

In [52]:
df_na = surveys_df.dropna()

In [53]:
 df_na.to_csv('C:/Users/Dell/Documents/portal-teachingdb-master/new_data.csv' )

In [34]:
surveys_df

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN
...,...,...,...,...,...,...,...,...,...
35544,35545,12,31,2002,15,AH,NaN,NaN,NaN
35545,35546,12,31,2002,15,AH,NaN,NaN,NaN
35546,35547,12,31,2002,10,RM,F,15.0,14.0
35547,35548,12,31,2002,7,DO,M,36.0,51.0
35548,35549,12,31,2002,5,NaN,NaN,NaN,NaN

In [38]:
survey_sub = surveys_df.head(10)
survey_sub_last10 = surveys_df.tail(10)
survey_sub_last10=survey_sub_last10.reset_index(drop=True)

In [39]:
vertical_stack = pd.concat([survey_sub, survey_sub_last10], axis=0)
horizontal_stack = pd.concat([survey_sub, survey_sub_last10], axis=1)

In [40]:
vertical_stack.to_csv('data_output/out.csv', index=False)
new_output = pd.read_csv('data_output/out.csv', keep_default_na=False, na_values=[""])

FileNotFoundError: [Errno 2] No such file or directory: 'data_output/out.csv'